td {
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
}

body {
  font-family: arial, sans-serif;
}

#left-col {
  width: 300px;
  padding: 20px;
}

#main-table {
  width:100%;
  height:100%;
}

#form {
  margin-top: 50px;
}

#directions {

}